.product-price-wrap {
	.price {
		display: inline-block;
	}
}

.pdp-pricing-module > .product-price-wrap {
	.price {
		margin-bottom: 10px;
		padding-bottom: 0;
	}
}

.price.product-price-secondary {
	color: $orange;
	float: right;

	span {
		font-size: 21px;
	}
}

.price-align {
	clear: both;
}
