.discount-container {
	background-color: $theme-grey-3;
	border-top: 1px solid $theme-grey-2;
	bottom: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: auto;
	padding: 30px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 99999;
}

.product-price-discounted {
	float: right;
}
