.product-price-wrap {
	.price {
		display: inline-block;
	}
}

.pdp-pricing-module ul {
	margin-bottom: 20px;
}

.pdp-pricing-module > .product-price-wrap {
	.price {
		margin-bottom: 10px;
		padding-bottom: 0;	}
}

.product-price-discounted {
	color: $orange;
	float: right;

	span {
		font-size: 21px;
	}
}

.price-align {
	clear: both;
}
