$black: #000;
$white: #fff;
$red: #d42114;
$orange: #f90;
$grey: #ccc;
$header-background: #f5f5f5;
$header-shadow: #dedede;
$bar-background: #f7f7f7;
$slider-shadow: rgba(0, 0, 0, .1);
$slider-thumb-shadow: rgba(0, 0, 0, .3);
$slider-border: #dedede;
$button-hover: #ececec;
$button-active: #d0d0d0;
$tooltip-background: rgba(0, 0, 0, .65);
$border: rgb(216, 216, 216);
