body {
	background-color: $red;
	color: $white;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 14px;
}

main {
	width: 300px;
}

header {
	display: block;
}

h1 {
	font-weight: 300;
	margin-top: 0;
	text-align: center;
}

.container {
	margin: 25px 10px 0;
}
