body{
    margin: 0;
    padding: 14px;
    background-color: #d42114;
    font-family: 'Roboto', sans-serif;
    color: white;
}

main{
    width: 300px;
}

heading{
    display:block;
}

h1{
    margin-top: 0;
    text-align: center;
    font-weight: 400;
}

.container{
    margin: 25px 10px 0 10px;
}

.container > div{

}

