.range {
	border-radius: 3px;
	box-shadow: 0 0 3px 1px $slider-shadow;
	display: flex;
	margin: 0 20px;

	button {
		background: $bar-background;
		border: 0;
		cursor: pointer;
		height: 40px;
		outline: none;
		padding: 10px;
		width: 40px;

		&:hover {
			background: $button-hover;
		}

		&:active {
			background: $button-active;
		}

		img {
			width: 10px;
		}
	}

	.minus {
		border-right: 1px solid $slider-border;
	}

	.plus {
		border-left: 1px solid $slider-border;
	}

	.slider {
		background: $bar-background;
		border-left: 1px solid $white;
		border-right: 1px solid $white;
		flex-grow: 2;
		padding: 0 15px;
	}

	input {
		-webkit-appearance: none;
		background: $red;
		border-radius: 5px;
		height: 8px;
		margin: 0;
		opacity: .7;
		outline: none;
		position: relative;
		top: 13px;
		-webkit-transition: .2s;
		transition: opacity .2s;
		width: 100%;

		&:hover {
			opacity: 1;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			background: $white;
			border-radius: 50%;
			box-shadow: 0 0 3px 1px $slider-thumb-shadow;
			cursor: pointer;
			height: 25px;
			transform: translateY(-7px);
			width: 25px;
		}
	}
}

.value {
	padding: 16px 15px 13px;

	h1 {
		margin-bottom: 0;
	}
}

.clear {
	clear: both;
}
