.range {
	border-radius: 3px;
	box-shadow: 0 0 3px 1px $slider-shadow;
	display: flex;
	margin: 0 20px;

	button {
		background: $bar-background;
		border: 0;
		cursor: pointer;
		height: 40px;
		outline: none;
		padding: 10px;
		width: 40px;

		&:hover {
			background: $button-hover;
		}

		&:active {
			background: $button-active;
		}

		img {
			width: 10px;
		}
	}

	.minus {
		border-right: 1px solid $slider-border;
	}

	.plus {
		border-left: 1px solid $slider-border;
	}

	.slider {
		background: $bar-background;
		border-left: 1px solid $white;
		border-right: 1px solid $white;
		flex-grow: 2;
		padding: 0 15px;
	}
}

.value {
	padding: 16px 15px 13px;

	h1 {
		margin-bottom: 0;
	}
}

.clear {
	clear: both;
}
